* {
  margin: 0;
  padding: 0;
}
.card {
  background-image: url("./image/images.webp");
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  width: 40%;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}
.main {
  margin-top: 100px;
  margin-right: 200px;
}
.card h3 {
  color: white;
  margin-left: 10px;
}
.card h1 {
  font-size: 20px;
  color: white;
  margin-left: 10px;
  padding-top: 10px;
}
